
{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<form method="POST" onsubmit="return checkRegister()">
    <input name="username" type="text" pattern="[A-Za-z]+" placeholder="Full Name"><br>
    <input name="email" type="email" placeholder="Email"><br>
    <input id="p1" name="password" type="password" minlength="6" placeholder="New password"><br>
    <input id="p2" name="password" type="password" minlength="6" placeholder="Repeat password"><br>
    <button type="submit">Register</button>
    <br><br>
    <p>Already have a account?<a href="{{ url_for('student_login') }}"> Login here</a></p>
</form>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}