
{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<form method="POST">

    <h2>Hello {{ username }}! </h2>


    <input type="text" name="title">Exam title <br>
    <input type="checkbox" name="browserViewMode">Lock fullscreen? <br>
    <input type="checkbox" name="allowQuit">Allow Quit? <br>
    <input type="checkbox" name="allowClipboard">Allow clipboard? <br>
    <input type="text" name="prompt">Type your ai prompt here! <br>



    <button type="submit">Create Exam</button>
</form>
{% endblock %}